In [1]:
import pandas as pd
import numpy as np

In [2]:
# gdp = pandas.read_csv('gdp.csv')
Countries_GDP = pd.read_csv('CountriesGDP19902017.csv')

In [3]:
Countries_GDP.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],1995 [YR1995],2000 [YR2000],2005 [YR2005],2010 [YR2010],2015 [YR2015],2017 [YR2017]
0,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,Afghanistan,AFG,..,..,..,1011.595524,1581.600836,1926.357336,1980.516177
1,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,Albania,ALB,2722.280344,2782.093734,4029.016971,5942.884009,9637.345368,11334.22093,12020.69073
2,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,Algeria,DZA,6616.408352,6777.297778,8093.530893,10971.84687,12610.24805,14614.97043,15275.37422
3,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,American Samoa,ASM,..,..,..,..,..,..,..
4,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,Andorra,AND,..,..,..,..,..,..,..

In [4]:
Countries_GDP = Countries_GDP.drop(['Series Name','Series Code', 'Country Code'], axis=1)
Countries_GDP.head()

,Country Name,1990 [YR1990],1995 [YR1995],2000 [YR2000],2005 [YR2005],2010 [YR2010],2015 [YR2015],2017 [YR2017]
0,Afghanistan,..,..,..,1011.595524,1581.600836,1926.357336,1980.516177
1,Albania,2722.280344,2782.093734,4029.016971,5942.884009,9637.345368,11334.22093,12020.69073
2,Algeria,6616.408352,6777.297778,8093.530893,10971.84687,12610.24805,14614.97043,15275.37422
3,American Samoa,..,..,..,..,..,..,..
4,Andorra,..,..,..,..,..,..,..

In [5]:
Countries_GDP.rename(columns={"1990 [YR1990]":"1990", "1995 [YR1995]":"1995", "2000 [YR2000]":"2000", "2005 [YR2005]":"2005", "2010 [YR2010]":"2010", "2015 [YR2015]":"2015", "2017 [YR2017]":"1995"})

,Country Name,1990,1995,2000 [YR2000],2005 [YR2005],2010 [YR2010],2015 [YR2015],2017 [YR2017]
0,Afghanistan,..,..,..,1011.595524,1581.600836,1926.357336,1980.516177
1,Albania,2722.280344,2782.093734,4029.016971,5942.884009,9637.345368,11334.22093,12020.69073
2,Algeria,6616.408352,6777.297778,8093.530893,10971.84687,12610.24805,14614.97043,15275.37422
3,American Samoa,..,..,..,..,..,..,..
4,Andorra,..,..,..,..,..,..,..
5,Angola,2217.43838,1797.522525,2277.374611,3550.720284,5778.380803,6631.618694,6388.960022
6,Antigua and Barbuda,10587.59341,12012.90695,14987.41116,18065.80523,18824.07315,21462.28694,23593.93283
7,Argentina,6990.554045,10129.77779,11810.06136,13817.71407,18333.5437,20356.91551,20786.67933
8,Armenia,2418.860926,1584.60047,2318.238073,4769.489004,6567.258582,8727.558325,9647.486113
9,Aruba,..,..,..,..,..,..,..
10,Australia,17338.4672,20890.17053,26316.94788,32539.08157,39274.76423,46220.25126,48460.04928
11,Austria,19452.46636,23658.77108,29375.4048,35013.71404,42047.03268,49883.0413,52397.75435
12,Azerbaijan,5502.433989,2420.444864,3534.329148,7169.150431,15627.60562,17782.02615,17398.16356
13,"Bahamas, The",20031.13314,20576.65729,26149.41714,28849.72996,28630.87037,30249.73823,30430.16948
14,Bahrain,22694.90726,31276.02653,35622.6017,38466.56221,39749.84938,46775.74033,47526.90428
15,Bangladesh,832.4340817,1048.184206,1301.463285,1718.402873,2393.315832,3335.759791,3868.822303
16,Barbados,9329.383963,9903.471761,12260.2352,14381.22563,16085.84958,17525.64926,18639.45174
17,Belarus,5399.405575,3974.93574,5994.557257,9984.19271,15906.7562,18347.1407,18847.93389
18,Belgium,18768.80691,22530.16064,27983.99612,33332.33135,40091.00999,45414.8906,47840.19714
19,Belize,3338.87067,4526.658589,5517.230644,7010.18845,7717.472528,8654.855391,8590.013256
20,Benin,945.3767455,1104.637026,1320.889575,1545.698265,1781.987066,2116.036775,2266.231602
21,Bermuda,26210.9109,30621.69158,40535.20826,49877.28411,55254.21412,..,..
22,Bhutan,1502.880658,2112.168359,2804.932757,4026.341876,6289.814364,8245.605306,9560.774453
23,Bolivia,2396.114889,2993.81087,3497.279428,4180.318268,5298.084512,6955.18277,7559.639404
24,Bosnia and Herzegovina,..,1202.660484,4528.613045,6453.186632,9314.886031,11526.42439,12875.9691
25,Botswana,5242.045649,6491.728103,8251.81945,10313.61119,13064.46624,16352.87933,17354.19971
26,Brazil,6686.227659,8073.132315,9012.955425,10950.56977,14243.49214,15656.26667,15483.54083
27,British Virgin Islands,..,..,..,..,..,..,..
28,Brunei Darussalam,54726.56428,62787.25312,65034.83466,73873.29024,78923.39047,79439.06245,78836.12468
29,Bulgaria,5190.796795,5319.71631,6376.857463,10211.31493,14948.59757,18115.23037,20329.34361
...,...,...,...,...,...,...,...,...
239,Latin America & Caribbean (excluding high income),5643.867814,7128.518867,8232.517141,9853.00404,12461.30737,14349.24172,14761.09392
240,Latin America & the Caribbean (IDA & IBRD coun...,5779.608292,7437.016234,8628.478264,10339.17123,13201.29012,15217.99063,15681.46499
241,Least developed countries: UN classification,843.7941485,928.6117618,1123.731974,1506.632078,2073.934751,2541.162584,2740.111111
242,Low & middle income,2424.795562,2906.958003,3634.260501,5119.559974,7521.379819,9887.33762,10936.08373
243,Low income,933.977922,944.4584513,1081.098583,1320.75608,1672.521244,1963.729937,2072.915001
244,Lower middle income,1766.383137,2080.024131,2512.699545,3467.533039,4869.920392,6446.565515,7192.119178
245,Middle East & North Africa,7696.416063,9004.798141,10818.20877,13528.24932,16456.69869,18676.31894,19893.57243
246,Middle East & North Africa (excluding high inc...,5236.68677,5810.462401,7294.829154,9187.941109,11576.41915,12302.29818,13567.35135
247,Middle East & North Africa (IDA & IBRD countries),5266.794194,5849.041275,7337.15724,9245.486262,11663.90558,12392.03253,13677.21456
248,Middle income,2567.371295,3102.227315,3903.193754,5547.064658,8228.130212,10909.86247,12111.87692
249,North America,23569.69156,28243.7063,35736.50624,43503.57537,47550.0533,55259.59286,58232.88143
250,Not classified,..,..,..,..,..,..,..
251,OECD members,16626.23748,20178.75617,25194.96272,30438.23945,35133.96742,40918.86775,43351.39718
252,Other small states,..,..,10634.57078,14470.68133,21082.52073,24980.14714,25772.66432
253,Pacific island small states,2656.795013,3226.827077,3570.783893,4272.607852,4678.767184,5617.41536,5940.713352
254,Post-demographic dividend,17842.60273,21432.13536,26819.34801,32804.83717,37729.18069,43709.76612,46381.52519
255,Pre-demographic dividend,1547.345801,1433.329796,1821.317158,2389.313086,3125.291021,3740.765533,3827.880974
256,Small states,..,..,9814.332043,13308.66785,18711.15752,22114.72005,22772.98783
257,South Asia,1194.163347,1545.41597,1997.611209,2787.434147,4088.88983,5678.732828,6493.77259
258,South Asia (IDA & IBRD),1194.163347,1545.41597,1997.611209,2787.434147,4088.88983,5678.732828,6493.77259
259,Sub-Saharan Africa,1624.809071,1670.144027,1885.890002,2492.682951,3162.316107,3726.249491,3805.968033
260,Sub-Saharan Africa (excluding high income),1623.783695,1668.946481,1884.346071,2491.240359,3160.604114,3724.137621,3803.695537
261,Sub-Saharan Africa (IDA & IBRD countries),1624.809071,1670.144027,1885.890002,2492.682951,3162.316107,3726.249491,3805.968033
262,Upper middle income,3312.447204,4091.131055,5302.377329,7734.928762,11911.36974,15980.87956,17774.39517
263,World,5446.175345,6478.955649,7927.720072,10079.3572,12836.84165,15710.16761,16940.79202
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN