In [1]:
import pprint
import pandas
import geopandas
from pandas.io.json import json_normalize
import geojson
import json
import numpy

In [2]:
with open('../static/data/globe.geo.json') as f:
    data = geojson.load(f)
globe = pandas.DataFrame(data)
# data[1]

In [3]:
globe = pandas.io.json.json_normalize(data['features'])
globe = globe.drop(['properties.abbrev', 'properties.abbrev_len',
              'properties.adm0_a3', 'properties.adm0_a3_is', 'properties.adm0_a3_un',
            'properties.adm0_a3_wb', 'properties.adm0_dif', 'properties.brk_diff',
             'properties.adm0_a3_us', 'properties.brk_a3', 'properties.brk_group',
             'properties.brk_name', 'properties.featurecla', 'properties.tiny',
             'properties.filename', 'properties.fips_10_', 'properties.formal_en',
             'properties.formal_fr', 'properties.gdp_md_est', 'properties.gdp_year',
             'properties.geounit', 'properties.subunit', 'properties.geou_dif', 
             'properties.gu_a3', 'properties.homepart', 'properties.iso_a3', 
              'properties.un_a3', 'properties.wb_a2', 'properties.wb_a3',
             'properties.wikipedia', 'properties.labelrank', 'properties.lastcensus',
             'properties.level', 'properties.sov_a3', 'properties.su_a3',
             'properties.su_dif', 'properties.subregion', 'properties.woe_id', 
             'properties.woe_note', 'properties.woe_id_eh', 'properties.long_len',
             'properties.mapcolor13','properties.mapcolor9','properties.mapcolor8',
             'properties.mapcolor7', 'properties.admin', 'properties.name_alt', 'properties.note_brk',
             'properties.postal', 'properties.pop_est', 'properties.pop_year', 
             'properties.note_brk', 'properties.region_un', 'properties.scalerank',
             'properties.iso_n3', 'properties.name_long', 'properties.name_sort',
             'properties.name_len', 'properties.region_wb', 'properties.note_adm0',
            'properties.continent', 'type'
             ], axis=1)
# df = df.set_index('properties.admin', drop=True)
globe.rename(columns = {'properties.iso_a2': 'code'}, inplace=True)
globe['code'] = globe['code'].astype(str)
globe.head()

,geometry.coordinates,geometry.type,properties.economy,properties.income_grp,code,properties.name,properties.sovereignt,properties.type
0,"[[[-79.98928788999987, 15.794948635000056], [-...",Polygon,7. Least developed region,5. Low income,-99,Bajo Nuevo Bank (Petrel Is.),Bajo Nuevo Bank (Petrel Is.),Indeterminate
1,"[[[[-63.037668423999946, 18.212958075000028], ...",MultiPolygon,6. Developing region,3. Upper middle income,AI,Anguilla,United Kingdom,Dependency
2,"[[[-62.83885657499987, 17.88198476800008], [-6...",Polygon,2. Developed region: nonG7,1. High income: OECD,BL,St-Barthélemy,France,Dependency
3,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country
4,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country

In [27]:
trafficking = pandas.read_csv('TraffickingCountsAge-Gender.csv')
trafficking.columns = ['code', 'Year', 'CountryOfExploitation', 'TraffickedGender',
                       'TraffickedageBroad', 'TraffickedCount'  ]
trafficking['code'] = trafficking['code'].astype(str)
trafficking.tail()
# trafficking.dtypes

,code,Year,CountryOfExploitation,TraffickedGender,TraffickedageBroad,TraffickedCount
523,UA,2018,UA,Female,Adult+,18
524,UA,2018,UA,Male,Adult,126
525,UA,2018,UA,Male,Adult+,32
526,Unknown,2018,TH,Female,Unknown,11
527,VN,2018,KH,Female,Unknown,31

In [26]:
gdp = pandas.read_csv('Countries_GDP.csv')
gdp = pandas.DataFrame(gdp)
gdp = gdp.rename(columns={'Code':'code'})
gdp['code'] = gdp['code'].apply(str)
gdp = gdp.replace('..', -99)
gdp['GDP'] = gdp['GDP'].apply(float)
# gdp.dtypes
gdp.head(25)

      Country Name code  Year           GDP
0      Afghanistan   AF  1990    -99.000000
1      Afghanistan   AF  1995    -99.000000
2      Afghanistan   AF  2000    -99.000000
3      Afghanistan   AF  2005   1011.595524
4      Afghanistan   AF  2010   1581.600836
5      Afghanistan   AF  2015   1926.357336
6      Afghanistan   AF  2017   1980.516177
7          Albania   AL  1990   2722.280344
8          Albania   AL  1995   2782.093734
9          Albania   AL  2000   4029.016971
10         Albania   AL  2005   5942.884009
11         Albania   AL  2010   9637.345368
12         Albania   AL  2015  11334.220930
13         Albania   AL  2017  12020.690730
14         Algeria   DZ  1990   6616.408352
15         Algeria   DZ  1995   6777.297778
16         Algeria   DZ  2000   8093.530893
17         Algeria   DZ  2005  10971.846870
18         Algeria   DZ  2010  12610.248050
19         Algeria   DZ  2015  14614.970430
20         Algeria   DZ  2017  15275.374220
21  American Samoa   AS  1990    -99.000000
22  American Samoa   AS  1995    -99.000000
23  American Samoa   AS  2000    -99.000000
24  American Samoa   AS  2005    -99.000000

In [10]:
migrationA = pandas.read_csv('MigrationCountsAge-Gender.csv',error_bad_lines=False)
migrationA = migrationA.rename(columns={'Major area, region, country or area of destination': 'Destination'})
# migrationA = migrationA.set_index('Destination')
migrationA['Origin'] = 'WORLD'
migrationA['Origin'] = migrationA['Origin'].astype(str)
migrationA['Origin'].str.encode('utf-8')
migrationA.head()
# migrationA.dtypes

Destination    object
Year            int64
Total           int64
TotalYouth      int64
TotalAdult      int64
TotalElder      int64
TotalMale       int64
MaleYouth       int64
MaleAdult       int64
MaleElder       int64
TotalFemale     int64
FemaleYouth     int64
FemaleAdult     int64
FemaleElder     int64
Origin         object
dtype: object

In [11]:
migrationB = pandas.read_csv('NumberofPeopleMigrated_PerCountries_PerYear.csv')
migrationB = migrationB.rename(columns={'Years': 'Year', '2': "Origin", 'value':'TotalMigrants',
                                        'Countries of Destination': 'Destination'})
migrationB = migrationB.drop('Unnamed: 0', axis=1)
migrationB['Origin'] = migrationB['Origin'].astype(str)
migrationB['Origin'].str.encode('utf-8')
migrationB.head()
# migrationB.dtypes
# migrationB.loc[migrationB['Origin'] == 'Comoros']

Year              int64
Destination      object
Origin           object
TotalMigrants    object
dtype: object

In [12]:
type(migrationA.loc[0, 'Origin']) == type(migrationB.loc[0, 'Origin'])

True

In [39]:
migration = migrationA.merge(migrationB, on='Origin', how='left')
# ,lsuffix='_left', rsuffix='_right').set_index('Destination_left')
# migration.dropna()
migration.head()

,Destination_x,Year_x,Total,TotalYouth,TotalAdult,TotalElder,TotalMale,MaleYouth,MaleAdult,MaleElder,TotalFemale,FemaleYouth,FemaleAdult,FemaleElder,Origin,Year_y,Destination_y,TotalMigrants
0,Burundi,1990,333110,86938,230870,15302,163267,41491,114075,7701,169843,45447,116795,7601,WORLD,NaN,NaN,NaN
1,Comoros,1990,14079,3656,9973,450,6717,1561,4925,231,7362,2095,5048,219,WORLD,NaN,NaN,NaN
2,Djibouti,1990,122221,41767,77766,2688,64242,22913,39825,1504,57979,18854,37941,1184,WORLD,NaN,NaN,NaN
3,Eritrea,1990,11848,3311,8197,340,6228,1769,4305,154,5620,1542,3892,186,WORLD,NaN,NaN,NaN
4,Ethiopia,1990,1155390,396648,711765,46977,607284,211289,373118,22877,548106,185359,338647,24100,WORLD,NaN,NaN,NaN

In [23]:
TraffickedWithGdp = gdp.merge(trafficking, on='code',how='outer')
# ,lsuffix='gdp', rsuffix='trafficking')
TraffickedWithGdp.tail(25)

,Country Name,code,Year_x,GDP,color,Year_y,CountryOfExploitation,TraffickedGender,TraffickedageBroad,TraffickedCount
4952,NaN,ZZ,NaN,NaN,NaN,2015.0,US,Male,Unknown,95.0
4953,NaN,ZZ,NaN,NaN,NaN,2015.0,US,Unknown,Unknown,66.0
4954,NaN,ZZ,NaN,NaN,NaN,2015.0,ZZ,Female,Unknown,25.0
4955,NaN,ZZ,NaN,NaN,NaN,2016.0,US,Female,Adult,652.0
4956,NaN,ZZ,NaN,NaN,NaN,2016.0,US,Female,Adult+,28.0
4957,NaN,ZZ,NaN,NaN,NaN,2016.0,US,Female,Adult-,378.0
4958,NaN,ZZ,NaN,NaN,NaN,2016.0,US,Female,Unknown,1604.0
4959,NaN,ZZ,NaN,NaN,NaN,2016.0,US,Female,Youth,849.0
4960,NaN,ZZ,NaN,NaN,NaN,2016.0,US,Male,Unknown,145.0
4961,NaN,ZZ,NaN,NaN,NaN,2016.0,US,Male,Youth,45.0
4962,NaN,ZZ,NaN,NaN,NaN,2016.0,US,Unknown,Unknown,88.0
4963,NaN,ZZ,NaN,NaN,NaN,2016.0,ZZ,Female,Unknown,39.0
4964,NaN,ZZ,NaN,NaN,NaN,2016.0,ZZ,Unknown,Unknown,12.0
4965,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Female,Adult,915.0
4966,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Female,Adult+,40.0
4967,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Female,Adult-,432.0
4968,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Female,Unknown,2691.0
4969,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Female,Youth,1097.0
4970,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Male,Adult-,13.0
4971,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Male,Unknown,227.0
4972,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Male,Youth,105.0
4973,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Unknown,Unknown,248.0
4974,NaN,ZZ,NaN,NaN,NaN,2017.0,US,Unknown,Youth,14.0
4975,NaN,ZZ,NaN,NaN,NaN,2017.0,ZZ,Female,Unknown,88.0
4976,NaN,ZZ,NaN,NaN,NaN,2017.0,ZZ,Unknown,Unknown,13.0

In [15]:
 def colorPick(gdp_md_est):

# divided 190 countries into 7 equal categories
     
#     (190.0, 166.375, 142.75, 119.125, 95.5, 71.875, 48.25, 24.625, 1.0)
#  This is total gdp, in millijons

    if gdp_md_est > 500000:
        color = "CHARTREUSE"
    elif gdp_md_est > 200000:
        color = "PALEGREEN"
    elif gdp_md_est > 70000:
        color = "SKYBLUE"
    elif gdp_md_est > 35000:
        color = "PALEVIOLETRED"
    elif gdp_md_est > 15000:
        color = "SANDYBROWN"
    elif gdp_md_est > 7000:
        color = "ORANGERED"
    elif gdp_md_est > 2000:
        color = "RED"
    else:
        color = 'slategrey'

    return color

In [16]:
for index,row in gdp.iterrows():
    gdp['color'] = gdp['GDP'].apply(colorPick)
gdp.head(15)

   Country Name code  Year           GDP      color
0   Afghanistan   AF  1990    -99.000000  slategrey
1   Afghanistan   AF  1995    -99.000000  slategrey
2   Afghanistan   AF  2000    -99.000000  slategrey
3   Afghanistan   AF  2005   1011.595524  slategrey
4   Afghanistan   AF  2010   1581.600836  slategrey
5   Afghanistan   AF  2015   1926.357336  slategrey
6   Afghanistan   AF  2017   1980.516177  slategrey
7       Albania   AL  1990   2722.280344        RED
8       Albania   AL  1995   2782.093734        RED
9       Albania   AL  2000   4029.016971        RED
10      Albania   AL  2005   5942.884009        RED
11      Albania   AL  2010   9637.345368  ORANGERED
12      Albania   AL  2015  11334.220930  ORANGERED
13      Albania   AL  2017  12020.690730  ORANGERED
14      Algeria   DZ  1990   6616.408352        RED

In [41]:
traffickedGDPglobe = globe.merge(TraffickedWithGdp, on="code", how='left')
traffickedGDPglobe.head(55)

,geometry.coordinates,geometry.type,properties.economy,properties.income_grp,code,properties.name,properties.sovereignt,properties.type,Country Name,Year_x,GDP,color,Year_y,CountryOfExploitation,TraffickedGender,TraffickedageBroad,TraffickedCount
0,"[[[-79.98928788999987, 15.794948635000056], [-...",Polygon,7. Least developed region,5. Low income,-99,Bajo Nuevo Bank (Petrel Is.),Bajo Nuevo Bank (Petrel Is.),Indeterminate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[[[[-63.037668423999946, 18.212958075000028], ...",MultiPolygon,6. Developing region,3. Upper middle income,AI,Anguilla,United Kingdom,Dependency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[[[-62.83885657499987, 17.88198476800008], [-6...",Polygon,2. Developed region: nonG7,1. High income: OECD,BL,St-Barthélemy,France,Dependency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,1990.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
4,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,1995.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
5,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2000.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
6,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2005.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
7,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2010.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
8,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2015.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
9,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2017.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
10,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,1990.0,9329.383963,ORANGERED,NaN,NaN,NaN,NaN,NaN
11,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,1995.0,9903.471761,ORANGERED,NaN,NaN,NaN,NaN,NaN
12,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2000.0,12260.235200,ORANGERED,NaN,NaN,NaN,NaN,NaN
13,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2005.0,14381.225630,ORANGERED,NaN,NaN,NaN,NaN,NaN
14,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2010.0,16085.849580,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
15,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2015.0,17525.649260,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
16,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2017.0,18639.451740,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
17,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,1990.0,3338.870670,RED,NaN,NaN,NaN,NaN,NaN
18,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,1995.0,4526.658589,RED,NaN,NaN,NaN,NaN,NaN
19,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2000.0,5517.230644,RED,NaN,NaN,NaN,NaN,NaN
20,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2005.0,7010.188450,ORANGERED,NaN,NaN,NaN,NaN,NaN
21,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2010.0,7717.472528,ORANGERED,NaN,NaN,NaN,NaN,NaN
22,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2015.0,8654.855391,ORANGERED,NaN,NaN,NaN,NaN,NaN
23,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2017.0,8590.013256,ORANGERED,NaN,NaN,NaN,NaN,NaN
24,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,1990.0,26210.910900,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
25,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,1995.0,30621.691580,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
26,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2000.0,40535.208260,PALEVIOLETRED,NaN,NaN,NaN,NaN,NaN
27,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2005.0,49877.284110,PALEVIOLETRED,NaN,NaN,NaN,NaN,NaN
28,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2010.0,55254.214120,PALEVIOLETRED,NaN,NaN,NaN,NaN,NaN
29,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2015.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
30,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2017.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
31,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,1990.0,10587.593410,ORANGERED,NaN,NaN,NaN,NaN,NaN
32,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,1995.0,12012.906950,ORANGERED,NaN,NaN,NaN,NaN,NaN
33,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2000.0,14987.411160,ORANGERED,NaN,NaN,NaN,NaN,NaN
34,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2005.0,18065.805230,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
35,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2010.0,18824.073150,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
36,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2015.0,21462.286940,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
37,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2017.0,23593.932830,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
38,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",1990.0,20031.133140,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
39,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",1995.0,20576.657290,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
40,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2000.0,26149.417140,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
41,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2005.0,28849.729960,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
42,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2010.0,28630.870370,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
43,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2015.0,30249.738230,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
44,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2017.0,30430.169480,SANDYBROWN,NaN,NaN,NaN,NaN,NaN
45,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,1990.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
46,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,1995.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
47,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2000.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
48,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2005.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
49,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2010.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
50,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2015.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
51,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2017.0,-99.000000,slategrey,NaN,NaN,NaN,NaN,NaN
52,"[[[[-71.50739498599995, 17.55125560100008], [-...",MultiPolygon,6. Developing region,3. Upper middle income,DO,Dominican Rep.,Dominican Republic,Sovereign country,Dominican Republic,1990.0,3540.005792,RED,NaN,NaN,NaN,NaN,NaN
53,"[[[[-71.50739498599995, 17.55125560100008], [-...",MultiPolygon,6. Developing region,3. Upper middle income,DO,Dominican Rep.,Dominican Republic,Sovereign country,Dominican Republic,1995.0,4750.749932,RED,NaN,NaN,NaN,NaN,NaN
54,"[[[[-71.50739498599995, 17.55125560100008], [-...",MultiPolygon,6. Developing region,3. Upper middle income,DO,Dominican Rep.,Dominican Republic,Sovereign country,Dominican Republic,2000.0,6499.853498,RED,NaN,NaN,NaN,NaN,NaN